<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chỉnh sửa sinh viên</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="mt-5">
        <form th:object="${student}" action="" method="post" class="p-4">
            <h4 class="text-center">Chỉnh sửa sinh viên</h4>

            <div>
                <div class="mb-2">
                    <label for="student_name" class="form-label">Student name</label>
                    <input th:field="*{student_name}" type="text" id="student_name" class="form-control">
                </div>

                <div class="mb-2">
                    <label for="phone_number" class="form-label">Phone number</label>
                    <input th:field="*{phone_number}" name="" type="text" id="phone_number" class="form-control">
                </div>

                <div class="mb-2">
                    <label for="address" class="form-label">Address</label>
                    <input th:field="*{address}" type="text" id="address" class="form-control">
                </div>

                <div class="form-group mb-2">
                    <label for="sex">Sex</label>
                    <select th:field="*{sex}" class="form-control" name="sex" id="sex">
                        <option value="0">Nam</option>
                        <option value="1">Nữ</option>
                    </select>
                </div>

                <div class="mb-2">
                    <label for="birthday" class="form-label">Date of birth</label>
                    <input th:field="*{birthday}" type="date" id="birthday" class="form-control">
                </div>

                <div class="mb-2">
                    <label for="image" class="form-label">Ảnh đại diện</label>
                    <input th:field="*{image_url}" th:name="imageFile" type="file" id="image" class="form-control">
                </div>

                <div class="mb-2">
                    <button type="submit" class="btn btn-primary">ADD</button>
                </div>
            </div>

        </form>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>